{% extends "courier/headerfooter.html" %}
{% block content %}

    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area  margin-bottom-120" style="background-image:url(/static/courier/img/breadcrumb/01.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h2 class="page-title">About Us</h2>
                        <ul class="page-list">
                            <li><a href="/index-2/">Home</a></li>
                            <li><a href="#">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- we offer  -->
    <section class="we-offer-area m-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="we-offer-content style-03">
                        <div class="content">
                            <div class="section-title">
                                <h2 class="title">we offer best logistic provider for our clients</h2>
                                <p>Treacherously far so late have immense condescending.We provide the best logistic service on the market, all over the globe in case you have an enquiry, or an urgent question, our support is there.</p>
                            </div>
                            <div class="servicee-area">
                                <ul>
                                    <li><a href="#"><i class="fas fa-check-circle"></i>We provide the best logistic service for globally
                                        </a></li>
                                    <li><a href="#"><i class="fas fa-check-circle"></i>We know how to make it in time and set the right terms for deliveries.</a></li>
                                    <li><a href="#"><i class="fas fa-check-circle"></i>All payment methods are acceptable for ordering our services.
                                        </a></li>
                                </ul>
                            </div>
                            <div class="author-details">
                                <div class="author-meta">
                                    <h4 class="title">Mark Tyson</h4>
                                    <span class="designation">CEO, Logicpress</span>
                                </div>
                                <div class="author-sign">
                                    <img src="/static/courier/img/we-offer/sign.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="we-offer-img bg-image" style="background-image: url(/static/courier/img/we-offer/01.png);">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- misson up area start -->
    <div class="misson-area bg-image padding-top-350 padding-bottom-90" style="background-image: url(/static/courier/img/bg/03.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="misson-content">
                        <div class="content margin-bottom-30">
                            <div class="section-title white">
                                <h2 class="title">Keep an eye on every details</h2>
                                <p>Treacherously far so late have immense condescending.We provide the best logistic service on the market, all over the globe in case you have an enquiry, or an urgent question, our support is there.</p>
                            </div>
                            <div class="btn-wrapper">
                                <a href="#" class="boxed-btn blank">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-misson-item margin-bottom-30">
                        <div class="single-what-img">
                            <img src="/static/courier/img/we-provide/02.png" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Our mission</h4>
                            <p>Treacherously far so late have immense condescending.</p>
                            <a href="#" class="readmore">Read More<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-misson-item margin-bottom-30">
                        <div class="single-what-img">
                            <img src="/static/courier/img/we-provide/03.png" alt="">
                        </div>
                        <div class="content">
                            <h4 class="title">Our vision</h4>
                            <p>Treacherously far so late have immense condescending.</p>
                            <a href="#" class="readmore">Read More<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- misson up area end -->
    <!-- why choose us area start  -->
    <section class="why-choose-use-area bg-image-03 padding-bottom-85" style="background-image: url(/static/courier/img/bg/04.png)">
        <div class="container">
            <div class="why-choose-us-wrapper padding-top-120">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                            <h2 class="title">Why choose Additrans
                            </h2>
                            <p>Treacherously far so late have immense condescending best logistic service the market all over the world logistic service .</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-why-us-box style-02 margin-bottom-30">
                            <div class="icon">
                                <i class="flaticon-air-freight"></i>
                            </div>
                            <div class="content">
                                <a href="#">
                                    <h4 class="title">Air Fright</h4>
                                </a>
                                <p>Treacherously far so late have immense best logistic service the market all over the world logistic service .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-why-us-box style-02 margin-bottom-30">
                            <div class="icon">
                                <i class="flaticon-delivery-truck"></i>
                            </div>
                            <div class="content">
                                <a href="#">
                                    <h4 class="title">road fright</h4>
                                </a>
                                <p>Treacherously far so late have immense best logistic service the market all over the world logistic service .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-why-us-box style-02 margin-bottom-20">
                            <div class="icon">
                                <i class=" flaticon-box-4"></i>
                            </div>
                            <div class="content">
                                <a href="#">
                                    <h4 class="title">warehouse</h4>
                                </a>
                                <p>Treacherously far so late have immense best logistic service the market all over the world logistic service .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- why choose us area end -->
    <!-- testimonial area start  -->
    <section class="testimonial-area bg-blue bg-image padding-top-110 padding-bottom-120" style="background-image: url(/static/courier/img/bg/05.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-carousel-area margin-top-10">
                        <div class="testimonial-carousel">
                            <div class="single-testimonial-item">
                                <div class="content">
                                    <div class="icon">
                                        <i class="flaticon-quote"></i>
                                    </div>
                                    <h2 class="title">testimonial</h2>
                                    <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best for your shipping. </p>
                                    <div class="author-details">
                                        <div class="author-meta">
                                            <h4 class="title">Andre Robin
                                            </h4>
                                            <span class="designation">CTO, art media</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-img">
                                    <div class="thumb">
                                        <img src="/static/courier/img/testimonial/01.png" alt="testimonial">
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial-item">
                                <div class="content">
                                    <div class="icon">
                                        <i class="flaticon-quote"></i>
                                    </div>
                                    <h2 class="title">testimonial</h2>
                                    <p class="description">I found myself working in a true partnership that results in an incredible experience, and an end product that is the best for your shipping. </p>
                                    <div class="author-details">
                                        <div class="author-meta">
                                            <h4 class="title">Andre Robin
                                            </h4>
                                            <span class="designation">CTO, art media</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="author-img">
                                    <div class="thumb">
                                        <img src="/static/courier/img/testimonial/01.png" alt="testimonial">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->
    <!-- Team Section -->
    <section class="creative-team bg-image padding-top-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-title b-top desktop-center padding-top-25 margin-bottom-55">
                        <h2 class="title">our expert team
                        </h2>
                        <p>Treacherously far so late have immense condescending best logistic service the market all over the world logistic service .</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="/static/courier/img/team/01.png" alt="">
                            <div class="social-link style-01">
                                <ul>
                                    <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4 class="title">Johnny</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="/static/courier/img/team/02.png" alt="">
                            <div class="social-link style-01">
                                <ul>
                                    <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4 class="title">Jhon</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="/static/courier/img/team/03.png" alt="">
                            <div class="social-link style-01">
                                <ul>
                                    <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4 class="title">Sophia Jones</h4>
                            <span>Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="/static/courier/img/team/04.png" alt="">
                            <div class="social-link style-01">
                                <ul>
                                    <li><a href="https://www.facebook.com/codingeek.net"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/codingeeknet"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/codingeek"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-text">
                            <h4 class="title">Jackson</h4>
                            <span>Architecture</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=======================
Client Section
========================-->
    <div class="client-section bg-liteblue padding-bottom-170 padding-top-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="client-area">
                        <div class="client-active-area">
                            <div class="single-brand">
                                <a href="#"><img src="/static/courier/img/client/01.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/courier/img/client/02.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/courier/img/client/03.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/courier/img/client/04.png" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/static/courier/img/client/01.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- call to action area start  -->
    <div class="call-to-action-area bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner bg-image">
                        <div class="icon">
                            <i class="flaticon-24-hours"></i>
                        </div>
                        <div class="content">
                            <h2 class="title">Call us for any inquairy we are open 24/7</h2>
                            <span class="subtitle">786-344-9868</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- call to action area end -->
{% endblock %}