{% extends "courier/headerfooter.html" %}
{% block content %}
    
    <div class="breadcrumb-area" style="background-image:url(/static/courier/img/breadcrumb/01.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inner">
                        <h2 class="page-title">PRODUCT US</h2>
                        <ul class="page-list">
                            <li><a href="index-2.html">Home</a></li>
                            <li><a href="#">Product add</a></li>
                        </ul>

                         
                    </div>


                    <div class="search-popup" id="search-popup">
    
                    <div class="form-group">
                        <!-- <form action="/search/"  method="post"> -->
                            {% csrf_token %}
                            <!-- <label style="color: white">search:</label>
                                <input type="search" name="search" placeholder="Search......"  class="form-control" required="">
                                    </div>
                                    <input type="submit" name="" value="search">
                                 </div>
                             </form> -->
                                 
                </div>

            </div>

        </div>

    </div>



    <!-- Contact Section -->
    <div class="contact-section padding-bottom-100 padding-top-200 bg-image" style="background-image: url(/static/courier/img/bg/09.png);">

        <div class="container">

            <div class="row no-gutters">
                <div class="col-lg-12">

                    <div class="contact-info">




                        <form action="/product/" class="contact-page-form" method="post">
                            {% csrf_token %}
                            <div class="row">
                                 <h3 style=" color: red">{{error}}</h1>
                                 <h3 style="color: green">{{sucess}}</h1>
                                <div class="col-md-12">
                                    <div class="form-group"><label style="color: white">PRODUCT NAME:</label>
                                <input type="text" name="product" placeholder="" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><label style="color: white">PRICE:</label>
                                <input type="text"  name="price" placeholder="" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group"><label style="color: white">ADDRESS:</label>
                                        <textarea class="form-control" cols="4" rows="4" class="form-control" name="address" placeholder="" ></textarea>
                                    </div>
                                </div>
                                 <div class="col-md-12">
                                    <div class="form-group"><label style="color: white">STARTING DATE:</label>
                                <input type="date" name="starting" placeholder="" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group"><label style="color: white">DESTINATION:</label>
                                <input type="date"  name="destination" placeholder=""  class="form-control" required="">
                                    </div>
                                </div>
                             
                                <div class="col-lg-12">
                                  
                                    <div class="btn-wrapper desktop-center">
                                        <input type="submit"  class="boxed-btn reverse-color" value="ADD">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}